.contact {
 margin-top: 70px;
 height: auto;
}

.details-section {
 position: relative;
 z-index: 200;
 padding-bottom: 0% !important;
 width: auto !important;
}

.submit {
 width: 100% !important;
}

#map {
 height: 400px;
 width: 100%;
}